@import "./imports";
// @font-face {
//     font-family: 'Dosis';
//     src: url('https://fonts.googleapis.com/css?family=Dosis:400,600,700'), format('truetype'), ;
//     font-weight: normal;
//     font-style: normal;
// }
@import "./DosisFont.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: "Dosis";
}

.align-center {
    align-items: center;
}

.ib {
    display: block;
    padding: 0.5em;
}
// .form {
//     .input {
//         width: 100%;
//     }
//     textarea {
//         width: 100%;
//     }
// }
.space-between {
    display: flex;
    justify-content: space-between;
}
