@import "../../../styles/variables";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: $secondary-color;
    height: 100%;
    width: 180px;

    &__button {
        border-bottom: 1px solid $nav-text-color;
        padding: 10px;
        font-size: $text-font-size;
        width: 100%;
        background-color: transparent;
        text-align: left;
        color: rgba($nav-text-color, 1);
        border-radius: 0;

        @media screen and (min-width: $mobile-breakpoint) {
            font-size: $text-font-size;
        }

        &:hover,
        &:active {
            background-color: rgba(rgb(160, 160, 160), 0.5);
        }
       
    }
    .active{
        background-color: $button-color;
        color: #fff;
    }
}
