@import "../../../styles/variables";

.categories {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 10px;
    min-height: 15vh;
    padding: 20px;
    margin: auto;
    // padding: 2rem 0;
    max-width: $max-width-screen;
    box-shadow: 0px 30px 20px -30px rgba(161, 159, 159, 1);
    // box-shadow: 0px 0px 10px 0px #9e9e9e;

    &__content {
        flex: 1;
    }

    &:nth-last-child(1) {
        border-bottom: none;
    }
}
